<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOVIEPUFF</title>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=BenchNine:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Michroma&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kirang+Haerang&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/adminmoviedetails.css">
</head>

<body>

    <div id="backdrop">
        <div id="trailerspopup">
            <div id="popuptitle">
                <% movie.trailers.forEach((trailer, index)=> { %>
                    <button class="lang-display <%= index === 0 ? 'selected' : '' %>"
                        data-videoid="<%= trailer.videoId %>">
                        <%= trailer.language %>
                    </button>
                    <% }) %>
            </div>
            <iframe></iframe>
            <button id="close" class="lang-display">Close</button>
        </div>
    </div>
    <main>
        <section id="navbar">
            <h1 id="title">TSOONAMI</h1>
            <span id="searchfield">
                <input type="text" placeholder="Search and add movies" name="q" autocomplete="off">
                <span class="material-symbols-outlined search-icon">
                    search
                </span>
                <div id="results">
                    <ul id="results-ul">
                    </ul>
                </div>
            </span>
            <span class="material-symbols-outlined homee">
                home
            </span>
            <div class="profile-icon">
                <span class="material-symbols-outlined">person</span>
            </div>
        </section>
        <section id="description">
            <img id="bg-img" src="/assets/sunami3.jpg">
            <div id="mainstart">
                <div id="imagedetails">
                    <img id="poster" src="https://image.tmdb.org/t/p/w500<%= movie.poster %>">
                    <button id="watchtrailer">Watch Trailers<span class="material-symbols-outlined">
                            sound_sampler
                        </span></button>
                    <button id="add-update">Add/Update Movie</button>
                </div>
                <div id="content">
                    <div id="line-one">
                        <div id="movietitle">
                            <%= movie.title %>
                        </div>

                        <% const today=new Date(); const release=new Date(movie.releasedate); if (!isNaN(release)) {
                            const diffInDays=(release - today) / (1000 * 60 * 60 * 24); if (diffInDays>
                            0) {
                            const options = { day: '2-digit', month: 'short' };
                            const formattedDate = release.toLocaleDateString('en-US', options);
                            %>
                            <div id="moviestatus">
                                Available in Theatres from <%= formattedDate %>
                            </div>
                            <% } } %>


                    </div>
                    <div id="sub-container">
                        <div id="left">
                            <div id="genres">
                                <%for(let genre of movie.genres){%>
                                    <button>
                                        <%=genre%>
                                    </button>
                                    <%}%>
                            </div>
                            <div id="specifics">
                                <%if (movie.status=='nowshowing' ){%>
                                    <span class="colored" id="imdb">
                                        <%='IMDb'%>
                                    </span>
                                    <span class="spec-info">
                                        <%= movie.imdb%>
                                    </span>
                                    <%}%>
                                        <span class="colored" id="age">Age</span>
                                        <span class="spec-info">
                                            <%=movie.age%>
                                        </span>
                                        <span id="duration" class="colored">
                                            <span class="material-symbols-outlined">
                                                timer
                                            </span>
                                        </span>
                                        <span class="spec-info">
                                            <%=movie.duration%>
                                        </span>
                            </div>
                            <div id="language">
                                <div id="spec-lang">
                                    <%for(let language of movie.languages) {%>
                                        <button class="lang-display">
                                            <%=language%>
                                        </button>
                                        <%}%>
                                </div>
                            </div>
                            <p id="plot">
                                <%=movie.plot%>
                            </p>
                            <div class="cast-sub">
                                <div class="difftitle">Cast</div>
                                <div id="cast">
                                    <%for(let single of movie.cast){%>
                                        <div class="cast-spec">
                                            <%if(single.profile_path){ %><img
                                                    src="<%=`https://image.tmdb.org/t/p/w185${single.profile_path}`%>">
                                                <%}%>
                                                    <div class="cast-names">
                                                        <%=single.name%>
                                                            <span>as <%=single.character%></span>
                                                    </div>
                                        </div>
                                        <%}%>
                                </div>
                            </div>
                        </div>
                        <div id="vr"></div>
                        <div class="people-info">
                            <div class="people-sub">
                                <div class="difftitle">Director</div>
                                <div class="director">
                                    <ul>
                                        <li>
                                            <%=movie.director%>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="people-sub writers">
                                <div class="difftitle">Writers</div>
                                <div class="director">
                                    <ul>
                                        <%for(let writer of movie.writers) {%>
                                            <li>
                                                <%=writer%>
                                            </li>
                                            <%}%>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div id="second-nav">
            <div id="date">
                <span class="material-symbols-outlined" id="prev">
                    arrow_back_ios
                </span>
                <div id="inside-date">

                </div>
                <span class="material-symbols-outlined" id="next">
                    arrow_forward_ios
                </span>
            </div>
            <div id="formats">
                <div class="formats-sub" id="biglang">
                    <button>Language</button>
                    <img src="/assets/downarrow.svg" id="languageimg">
                    <div class='formatcontainer' id="languagedropdown">
                        <ul class="formatul" id="languageid">
                            <%for(let one of movie.languages) {%>
                                <li>
                                    <%=one%>
                                </li>
                                <hr>
                                <%}%>
                        </ul>
                    </div>
                </div>
                <div class="formats-sub" id="bigformat">
                    <button>Format</button>
                    <img src="/assets/downarrow.svg" id="formatimg">
                    <div class='formatcontainer' id="formatdropdown">
                        <ul class="formatul" id="formatid">
                            <li>2D</li>
                            <hr>
                            <li>3D</li>
                            <hr>
                            <li>4D</li>
                            <hr>
                            <li>IMAX</li>
                            <hr>
                        </ul>
                    </div>
                </div>
                <div class="formats-sub" id="bigcity">
                    <button>City</button>
                    <img src="/assets/downarrow.svg" id="cityimg">
                    <div class='formatcontainer' id="citydropdown">
                        <ul class="formatul" id="cityid">
                            <li>Bangalore</li>
                            <hr>
                            <li>Chennai</li>
                            <hr>
                            <li>Delhi</li>
                            <hr>
                            <li>Hyderabad</li>
                            <hr>
                            <li>Kolkata</li>
                            <hr>
                            <li>Mumbai</li>
                            <hr>
                            <li>Ahmedabad</li>
                            <hr>
                            <li>Jaipur</li>
                            <hr>
                            <li>Coimbatore</li>
                            <hr>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="addbar">
            <div id="theatres">
                <button>Add Theatres</button>
                <img src="/assets/downarrow.svg" id="addtheatresimg">
                <div class='theatrecontainer' id="theatredropdown">
                    <ul class="theatreul" id="theatreid">
                    </ul>
                </div>
            </div>
        </div>
        <div id="about-theatres">
        </div>
    </main>
    <footer class="footer-container">
        <div class="footer-top">
            <a href="/admin/Contactus" target="_blank">Contact Us</a>
            <a href="/privacypolicy" target=_blank>Privacy Policy & Terms & Conditions</a>
        </div>
        <div class="footer-bottom">
            <div class="footer-left">
                <span class="logo">TSOONAMI</span>
                <span class="copyright">&copy;copyright reserved TSOONAMI.all rights reserved.</span>
            </div>
            <div class="footer-right">
                <div class="social-icon"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="26" height="26"
                        viewBox="0 0 24 24">
                        <path
                            d="M 8 3 C 5.243 3 3 5.243 3 8 L 3 16 C 3 18.757 5.243 21 8 21 L 16 21 C 18.757 21 21 18.757 21 16 L 21 8 C 21 5.243 18.757 3 16 3 L 8 3 z M 8 5 L 16 5 C 17.654 5 19 6.346 19 8 L 19 16 C 19 17.654 17.654 19 16 19 L 8 19 C 6.346 19 5 17.654 5 16 L 5 8 C 5 6.346 6.346 5 8 5 z M 17 6 A 1 1 0 0 0 16 7 A 1 1 0 0 0 17 8 A 1 1 0 0 0 18 7 A 1 1 0 0 0 17 6 z M 12 7 C 9.243 7 7 9.243 7 12 C 7 14.757 9.243 17 12 17 C 14.757 17 17 14.757 17 12 C 17 9.243 14.757 7 12 7 z M 12 9 C 13.654 9 15 10.346 15 12 C 15 13.654 13.654 15 12 15 C 10.346 15 9 13.654 9 12 C 9 10.346 10.346 9 12 9 z">
                        </path>
                    </svg></div>
                <div class="social-icon"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="26" height="26"
                        viewBox="0 0 24 24">
                        <path
                            d="M17.525,9H14V7c0-1.032,0.084-1.682,1.563-1.682h1.868v-3.18C16.522,2.044,15.608,1.998,14.693,2 C11.98,2,10,3.657,10,6.699V9H7v4l3-0.001V22h4v-9.003l3.066-0.001L17.525,9z">
                        </path>
                    </svg></div>
                <div class="social-icon"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="26" height="26"
                        viewBox="0 0 24 24">
                        <path
                            d="M 5 3 C 3.895 3 3 3.895 3 5 L 3 19 C 3 20.105 3.895 21 5 21 L 19 21 C 20.105 21 21 20.105 21 19 L 21 5 C 21 3.895 20.105 3 19 3 L 5 3 z M 5 5 L 19 5 L 19 19 L 5 19 L 5 5 z M 7.7792969 6.3164062 C 6.9222969 6.3164062 6.4082031 6.8315781 6.4082031 7.5175781 C 6.4082031 8.2035781 6.9223594 8.7167969 7.6933594 8.7167969 C 8.5503594 8.7167969 9.0644531 8.2035781 9.0644531 7.5175781 C 9.0644531 6.8315781 8.5502969 6.3164062 7.7792969 6.3164062 z M 6.4765625 10 L 6.4765625 17 L 9 17 L 9 10 L 6.4765625 10 z M 11.082031 10 L 11.082031 17 L 13.605469 17 L 13.605469 13.173828 C 13.605469 12.034828 14.418109 11.871094 14.662109 11.871094 C 14.906109 11.871094 15.558594 12.115828 15.558594 13.173828 L 15.558594 17 L 18 17 L 18 13.173828 C 18 10.976828 17.023734 10 15.802734 10 C 14.581734 10 13.930469 10.406562 13.605469 10.976562 L 13.605469 10 L 11.082031 10 z">
                        </path>
                    </svg></div>
            </div>
        </div>
    </footer>

    <script>
        const id = "<%= movie.tmdbid %>";
        const mrelease = "<%= movie.releasedate %>";
        const mstatus = "<%= movie.status %>";
    </script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="module" src="/js/adminmoviedetails.js"></script>
</body>

</html>